################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NewBackend/v15/Server/sqlite3
/.vs/
**/**/obj/
**/**/bin/
